.user {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: var(--color-dark--0);
  padding: 1.6rem 2.6rem;
  border-radius: 7px;
  z-index: 999;
  box-shadow: 0 0.8rem 2.4rem rgba(36, 42, 46, 0.5);
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.user img {
  height: 5rem;
  border-radius: 10%;
}

.user button {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  border: none;
  padding: 1rem 2rem;
  color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 2rem;
}
